<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="esas_hutkigrosh" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Hutkigrosh Gateway</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                    <can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="hutkigrosh_payment_method_description" translate="label" type="textarea" sortOrder="20"
                       showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Description</label>
                    <config_path>payment/esas_hutkigrosh/hutkigrosh_payment_method_description</config_path>
                    <can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="hutkigrosh_shop_name" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Shop name</label>
                    <config_path>payment/esas_hutkigrosh/hutkigrosh_shop_name</config_path>
                    <validate>required-entry</validate>
                    <can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="hutkigrosh_erip_id" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>ERIP Id</label>
                    <config_path>payment/esas_hutkigrosh/hutkigrosh_erip_id</config_path>
                    <validate>required-entry validate-number</validate>
                    <can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="hutkigrosh_hg_login" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Hutkigrosh login</label>
                    <config_path>payment/esas_hutkigrosh/hutkigrosh_hg_login</config_path>
                    <validate>required-entry</validate>
                    <can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="hutkigrosh_hg_password" type="obscure" translate="label" sortOrder="30" showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label>Hutkigrosh password</label>
                    <config_path>payment/esas_hutkigrosh/hutkigrosh_hg_password</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <validate>required-entry</validate>
                    <can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="hutkigrosh_sandbox" translate="label" sortOrder="110" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Sandbox</label>
                    <config_path>payment/esas_hutkigrosh/hutkigrosh_sandbox</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="hutkigrosh_notification_email" translate="label" sortOrder="110" type="select"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email notification</label>
                    <config_path>payment/hutkigrosh/hutkigrosh_notification_email</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="hutkigrosh_notification_sms" translate="label" sortOrder="110" type="select"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sms notification</label>
                    <config_path>payment/esas_hutkigrosh/hutkigrosh_notification_sms</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="hutkigrosh_bill_status_pending" translate="label comment" type="select" sortOrder="55"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Pending bill Status</label>
                    <comment>Select the default order status for pending bills.</comment>
                    <config_path>payment/esas_hutkigrosh/hutkigrosh_bill_status_pending</config_path>
                    <source_model>Esas\Hutkigrosh\Model\Config\Source\Order\Status\AllStatuses</source_model>
                    <validate>required-entry</validate>
                    <can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="hutkigrosh_bill_status_payed" translate="label comment" type="select" sortOrder="55"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payed bill Status</label>
                    <comment>Select the default order status for payed bills.</comment>
                    <config_path>payment/esas_hutkigrosh/hutkigrosh_bill_status_payed</config_path>
                    <source_model>Esas\Hutkigrosh\Model\Config\Source\Order\Status\AllStatuses</source_model>
                    <validate>required-entry</validate>
                    <can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="hutkigrosh_bill_status_failed" translate="label comment" type="select" sortOrder="55"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Failed bill Status</label>
                    <comment>Select the default order status for failed bills.</comment>
                    <config_path>payment/esas_hutkigrosh/hutkigrosh_bill_status_failed</config_path>
                    <source_model>Esas\Hutkigrosh\Model\Config\Source\Order\Status\AllStatuses</source_model>
                    <validate>required-entry</validate>
                    <can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="hutkigrosh_bill_status_canceled" translate="label comment" type="select" sortOrder="55"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Canceled bill Status</label>
                    <comment>Select the default order status for canceled bills.</comment>
                    <config_path>payment/esas_hutkigrosh/hutkigrosh_bill_status_canceled</config_path>
                    <source_model>Esas\Hutkigrosh\Model\Config\Source\Order\Status\AllStatuses</source_model>
                    <validate>required-entry</validate>
                    <can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="hutkigrosh_completion_text" translate="label" type="textarea" sortOrder="62"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instructions</label>
                    <can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
